*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}

/********************************************** DESCKTOP ***************************************/
/******************************************* Barra de navegacion 1 ***************************/
        /* Contenedor de header */
.header {
    width: 100%;
    height: auto;
}
            /* contenedor barra de navecion 1 */
.barranavegacion1 {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    justify-content: space-between;
    background: #545050;
}       

                
                /* logo */
.logo {
    display: inline-block;
    width: 350px;
    height: 80px;
    margin: 10px;
}    
.logo img { 
    width: 100%;
    height: 100%;
}

                /* buscador */
.buscador {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
}

.inputbuscador_header {
    width: 100%;
    height: 45px;
    position: relative;
    border-radius: 10px;
    padding-left: 62px;
    border: none;
}

.inputbuscador_header:focus-visible {
    outline: 2px solid #FF601D ;
}

.labelbuscador_header {
    width: 60px;
    height: 30px;
    position: absolute;
    justify-self: start;
    align-self: center;
    border: 0px;
    margin-left: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.labelbuscador_header:focus-visible {
    outline: none;
}

.butonlupa_header {
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 0px;
    border: 0px;
    justify-self: end;
    align-self: center;
    margin-right: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.butonlupa_header:hover {
    cursor: pointer;
}

.lupaimagen_header {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




.section_user {
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.section_user li {
    list-style: none;
    padding: 20px;
}

.section_user a {
    text-decoration: none;
    color: white;
}

.contenedorcarrito {
    display: flex;
    align-items: center;
}

.iconocarrito {
    width: 30px;
    height: 30px;
}

.iconocarrito img {
    width: 100%;
    height: 100%;
}
/******************************************* Barra de navegacion 2 ***************************/

.barranavegacion2 {
    display: grid;
    width: 100%;
    height: 30px;
    background: #767171;
    grid-template-columns: 1fr;
    place-content: center;
}
.barranavegacion2 ul {
    display: flex;
}

.barranavegacion2 ul {
    list-style: none;
    padding: 20px;
}

.barranavegacion2 ul li {
    margin-right: 40px;
    font-weight: bold;
}

.barranavegacion2 ul li a {
    text-decoration: none;
    color: #D4FF00;
    
}

/*******************************************BARRA DE NAVEGACION MOBILE***************************************/

.headermobile {
    display: none;
    width: 100%;
    height: auto;
}

.barradenavegacionMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #545050;
    height: 55px;
    
}

.mobilelogo {
    width: 180px;
    height: 50px;
    display: flex;
    margin-left: 20px;
    align-self: center;
}

.mobilelogo img {
    width: 100%;
    height: 100%;
}



.mobilemenu {
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 0px;
    align-self: center;
    justify-self: end;
    margin-right: 20px;

}

.mobilemenu img {
    width: 100%;
    height: 100%;
}

/****************seccion buscador mobile***************************************/

@media (max-width: 1156px) {
    .header {
        display: none;
    }

    .headermobile {
        display: block;
    }
}

/************************** seccion buscador mobile ***************************/
.buscadormmobile {
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.inputbuscador_headermobile {
    width: 99.5%;
    height: 34px;
    position: relative;
    justify-self: center;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    
}

.inputbuscador_headermobile:focus-visible {
    outline: 2px solid #FF601D ;
    border: none;
}

.butonlupa_headermobile {
    width: 25px;
    height: 25px;
    position: absolute;
    border: 0px;
    padding: 0px;
    justify-self: end;
    margin-right: 10px;
}

.lupaimagen_headermobile {
    width: 100%;
    height: 100%;
}
/**************************************************** */

/* *********************promociones y departamentos *************************** */

.containerpromocionesDepartamentos {
    margin-top: 5px;
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.containerPrincippal {
    display: grid;
    width: 95%;
    height: auto;
}

/* slider */
.conteainerslider {
    display: grid;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    background: #d4d2d2;
    border-radius: 10px;
}
/* slider promociones  */
.containerSliderPromociones {
    width: 100%;
    height: 80%;
    background: #04471b;
    position: absolute;
    z-index: 1;
}

.cardsSliderPromociones {
    display: flex;
    width: 400%;
    height: 100%;
    padding: 0px;
    animation: cambio 30s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

.itemSliderPromociones {
    width: 100%;
    list-style: none;
}

.imagenSliderPromociones {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/* ******************************************************  */

/* slider departamentos */
.sliderDepartamentos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 120%;
    height: 50px;
    background: #13f562;
    position: absolute;
    align-self: center;
    column-gap: 14px;
    margin-top: 110px;
}

.itemSliderDepartamentos {
    width: 100%;
    height: 120px;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
} 

.imagenSliderDepartamentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ************************************* */
/* *************************departamentos ********************** */
.containerDepartamentos {
    display: grid;
    width: 100%;
    height: auto; 
}


.containerDep {
    margin-bottom: 5px;
}

.linkdepartamentos {
    text-decoration: none;
    margin-left: 10px;
    align-self: center;
    font-size: 10px;
}


/* container Calzado */
.containerCalzado {
    display: grid;
    grid-template-rows: 25px 1fr 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #d4d2d2;
}

.tituloCalzado {
    font-size: 15px;
    margin-left: 10px;
    align-self: center;
}

.cardsCalzado {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    gap: 3px;
    justify-content: center;
}

.itemCalzado {
    width: 100%;
    height: 100%;
    background: #470420;
    border-radius: 10px;
    overflow: hidden;
}

.imageCalzado {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ************************** */

/* container Electricos */
.containerElectronicos {
    display: grid;
    grid-template-rows: 25px 1fr 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #d4d2d2;
}

.tituloElectronicos {
    font-size: 15px;
    margin-left: 10px;
    align-self: center;
}

.cardsElectronicos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    gap: 3px;
    justify-content: center;
}

.itemElectronicos {
    width: 100%;
    height: 100%;
    background: #470420;
    border-radius: 10px;
    overflow: hidden;
}

.imageElectronicos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* *************************************** */

/* container mujer */
.containerMujer {
    display: grid;
    grid-template-rows: 25px 1fr 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #d4d2d2;
}

.tituloMujer {
    font-size: 15px;
    margin-left: 10px;
    align-self: center;
}

.cardsMujer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    gap: 3px;
    justify-content: center;
}

.itemMujer {
    width: 100%;
    height: 100%;
    background: #470420;
    border-radius: 10px;
    overflow: hidden;
}

.imageMujer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ************************************************* */

/* container hombre */
.containerHombre {
    display: grid;
    grid-template-rows: 25px 1fr 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #d2d4d2;
}

.tituloHombre {
    font-size: 15px;
    margin-left: 10px;
    align-self: center;
}

.cardsHombre {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    gap: 3px;
    justify-content: center;
}

.itemHombre {
    width: 100%;
    height: 100%;
    background: #470420;
    border-radius: 10px;
    overflow: hidden;
}

.imageHombre {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ********************************************************* */

/* *******************footer******************************* */
.footer {
    display: grid;
    width: 100%;
    height: 50px;
    place-content: center;
    border-radius: 2px;
}
.footer p {
    place-self: center;
    font-weight: bold;
}