<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">       
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <main class="containerLogin">
        <figure class="containerLogo">
            <a class="linkLogo" href="/"><img class="imageLogo" src="log/logo.svg" alt="logotipoShopiestore"></a>
        </figure>
    

        <section class="formCard">
            <p class="logintext">Inicia Sesion</p>

            <form class="formLogin" action="/login/pass" method="get">
                <label for="emailLogin">Ingresa tu Direccion de Correo Electronico</label>
                <input type="email" id="emailLogin" required placeholder="Ingrese su email">
                <input class="button" type="submit" onclick="validarDatos()" value="Continuar">
            </form>

            <p class="politicofprivacity">Al continuar, aceptas las <a href="#">Condiciones de uso</a>  y el <a href="#">Aviso de privacidad</a> de Shopistore.</p>
            <a class="ayuda" href="#"><p>¿Nesesitas ayuda?</p></a>
        </section>
        
        <section class="registerCard">
            <p>¿Eres Nuevo? Registrate!!</p>
            <a href="/register">Registrarse</a>
        </section>
        <script src="./login.js"></script>
    </main>
    <footer class="footer">
        <div class="footerCard">
            <p>&copy;2021-2022 Shopistore.com</p>
        </div>
        
    </footer>
    
</body>
</html>