<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/menumob.css">
    <title>Document</title>
</head>
<body>
    <section class="menuMobile">
            <div class="containerLOGO">
                <img class="imageLogo" src="../log/logo.svg" alt="Logo">
            </div>
            <ul class="conatinerItems">
                <li class="itemMenu"><a class="linkItemMenu" href="/">Inicio</a></li>
                <li class="itemMenu"><a class="linkItemMenu" href="/">Cupones de Descuento</a></li>
                <li class="itemMenu"><a class="linkItemMenu" href="">Tarjetas de Regalo</a></li>
                <li class="itemMenu"><a class="linkItemMenu" href="">Vender</a></li>
                <li class="itemMenu"><a class="linkItemMenu" href="">Servicio al Cliente</a></li>
                <li class="itemMenu"><a class="linkItemMenu" href="">Acerca de Nosotros</a></li>
            </ul> 
    </section>
</body>
</html>