* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    background: #000000d3;
    place-content: center;
}
.menuMobile {
    display: grid;
    grid-template-rows: 1fr 5fr;
    width: 250px;
    height: 500px;
}

.containerLOGO {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.imageLogo {
    justify-self: center;
}

.conatinerItems {
    width: 100%;
    height: 100%;
    display: grid;
    list-style: none;

}

.linkItemMenu {
    text-decoration: none;
    color: white;
}

.linkItemMenu:hover {
    color: #FF601D;
}